:root {
  /* Slate */
  --slate-900: rgb(31 49 79);
  --slate-500: rgb(104 119 141);
  --slate-300: rgb(213 225 239);

  /* White */
  --white: rgb(255 255 255);

  /* Typography */
  --font-family: "Outfit";

  --font-weight-bold: 700;
  --font-weight-regular: 400;

  --font-size-heading: 2.2rem;
  --font-size-paragraph: 1.5rem;

  --line-height-heading: 1.2;
  --line-height-paragraph: 1.4;

  --letter-spacing-heading: 0px;
  --letter-spacing-paragraph: 0.2px;

  /* Spacing */
  --spacing-500: 40px;
  --spacing-300: 24px;
  --spacing-200: 16px;

  /* Card Shadow */
  --shadow-y-offset: 25px;
  --shadow-blur: 25px;
  --shadow-color: 0 0 0;
  --shadow-color-alpha: 0.0477;

  /* Card Size */
  --card-size: 320px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family), sans-serif;
  font-size: 62.5%;
}

body {
  background-color: var(--slate-300);
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: var(--font-size-heading);
  line-height: var(--line-height-heading);
  letter-spacing: var(--letter-spacing-heading);
  font-weight: var(--font-weight-bold);
  color: var(--slate-900);
}

p {
  font-size: var(--font-size-paragraph);
  line-height: var(--line-height-paragraph);
  letter-spacing: var(--letter-spacing-paragraph);
  font-weight: var(--font-weight-regular);
  color: var(--slate-500);
}

.qr-link {
  display: contents;
}

img {
  max-width: 100%;
  aspect-ratio: 1;
  border-radius: 10px;
}

.card {
  margin: auto;
  background-color: var(--white);
  width: min(var(--card-size), 90vw);
  height: fit-content;
  padding: var(--spacing-200);
  padding-block-end: var(--spacing-500);
  border-radius: 20px;
  box-shadow: 0 var(--shadow-y-offset) var(--shadow-blur)
    rgb(var(--shadow-color) / var(--shadow-color-alpha));
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  padding-inline: var(--spacing-200);
}
